# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
        . ~/.bashrc
fi

# User specific environment and startup programs

#export MW_HOME={{ wls_server_home }}
#export WLS_HOME={{ wls_server_home }}/wlserver
#export WL_HOME={{wls_server_home }}
export JAVA_HOME={{ java_home }}/{{ java_version }}
export PATH={{ java_home }}/{{ java_version }}/bin:$PATH
export ORACLE_HOME={{ wls_server_home }}
